.graphdiv {
    clear:both;
    min-width: 400px;
    width: 44%;
    height: 500px;
    border: 6px solid black;
    padding: 1px;
    margin: 65px 20px 20px 20px;
    float: left;
    position: absolute;
 border-radius:5px;
}

.feedbackdiv {
    clear:both;
    width: 43%;
    height: 500px;
    border: 6px solid #8bc34a;
    border-radius:5px;
    padding: 1px;
    position: relative;
    margin: 85px 20px 20px 20px;
    margin-left: 51%;
}
.expertResponseDiv{
	clear: both;
    width: 43%;
	height: 400px;
	float: left;
	position: absolute;
	margin: 10px 20px 20px 10px;
}

.yourResponseDiv{
    clear:both;
	width:43%;
	height: 400px;
    position: relative;
    margin: 10px 20px 20px 20px;
	margin-left: 50%;
}




#concepts {
    margin-left: 0%;
}

.notediv {
    padding: 1px;
    margin: 0px 20px 20px 10px;
    margin-bottom:50px;
 }



.legenddiv {
    padding: 1px;
    margin: 70px 40px 20px 10px;
}

.heading1{
	font-size: 25px;
    font-weight: bold;
    font-family: Lato, Arial;
    color:#000000;
    text-align: left;
    position: absolute;
    margin-top: 100px;
    margin-left: 20px;
}


.conceptheading{
	width: 95%;
	font-size: 15px;
    font-weight: bold;
    font-family: Lato, Arial;
    color:#000000;
    text-align: left;
    margin-top: 10px;
    margin-left: 5px;
}

.missing{
	font-size: 15px;
    font-family: Lato, Arial;
    color:#000000;
    text-align: left;
    margin-top: 5px;
    margin-left: 5px;
}

.buttonsdiv{
margin-top: -6px;
margin-right: -1px;
float:right;
}

.heading1{
	font-size: 20px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#000000;
    text-align: left;
    position: relative;
    margin-left: 10px;
}

.heading2{
	font-size: 25px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#000000;
    text-align: left;
    position: relative;
    margin-left: 10px;
}

.heading3{
	font-size: 28px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#fff;
    text-align: left;
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px;
    float: left;
    background-color: #81b0b2;
}

.heading3b{
	font-size: 28px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#fff;
    text-align: left;
    position: relative;
    margin-top: 25px;
    margin-left: 15px;
    padding: 10px;
    float: left;
    background-color: #005cb9;
}



.heading4{
	font-size: 20px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#ffffff;
    text-align: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
    padding: 10px;
    background-color: #000000;
    float: left;
}

.heading4b{
	font-size: 20px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#ffffff;
    text-align: left;
    position: relative;
    margin-top: 20px;
    margin-left: 51.5%;
    padding: 10px;
    background-color: #8bc34a;
	float: left;
}



.button {
    border: none;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 4px 4px 4px;
    font-weight: normal;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: pointer;
  	border-radius: 6px;
  	background-color: #00738c; 
    border: 1px solid #00738c;
    
}

.button:hover {
    background-color: #81b0b2;
    color: #000;
   	border: 1px solid #81b0b2;
      -webkit-transition: all 200ms cubic-bezier(0.84, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.84, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.84, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.84, 0, 0.58, 1);
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: black;
    font-weight: bold;
    font-family: Lato, Arial;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
#links, .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #fff;
    border-top: none;
    height: 85%;
    overflow: scroll;
}

.reddot {
    height: 15px;
    width: 15px;
    background-color: #fb8c00;
    border-radius: 50%;
    display: inline-block;
}

.greendot {
    height: 15px;
    width: 15px;
    background-color: #8bc34a;
    border-radius: 50%;
    display: inline-block;
}

.missingdot {
    height: 5px;
    width: 5px;
    background-color: #fb8c00;
    border-radius: 50%;
    display: inline-block;
}

.purpledot {
    height: 15px;
    width: 15px;
    background-color: #e91e63;
    border-radius: 50%;
    display: inline-block;
}
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: black ;
  stroke-width: 0px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

.modal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    padding-bottom: 20px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 670px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y: auto;
}

/* Modal Content */
#modelcontainer {
	background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
	height: 670px;
	/* max-height: calc(100vh - 210px); */
    /*overflow-y: auto;*/
}

/* The Close Button */
.close {
	color: #fff;
	float: right;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
    background-color: #00738c;
    padding: 4px 20px 4px 20px;
    border: solid 1px;
    border-radius: 6px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
    background-color: #81b0b2;
     padding: 4px 20px 4px 20px;
    border: solid 1px;
    border-radius: 6px;
}
/* Responsive Design */
@media screen and (max-width:870px) {
    .heading4{
	font-size: 20px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#ffffff;
    text-align: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 25px;
    padding: 10px;
    background-color: #000000;
    float: left;
	min-width: 380px;
}


.heading4b{
	font-size: 20px;
    font-weight: bold;
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    color:#ffffff;
    text-align: left;
    position: relative;
    margin-top: 630px;
    margin-left: 25px;
    padding: 10px;
    background-color: #8bc34a;
}
.feedbackdiv {
    min-width:400px;
    height: 500px;
    border: 3px solid #8bc34a;
    padding: 1px;
    margin: 685px 20px 20px 20px;
    position: relative;
    border-radius:5px;
    overflow:auto;
}
    
.expertResponseDiv{
	clear: both;
    width: 400px;
	height: 400px;
    margin-left: 10px;
   }

.yourResponseDiv{
    clear:both;
	min-width:400px;
	height: 400px;
    margin-top: 410px;
    margin-left: 10px;
}
.graphdiv {
    clear:both;
    width: 420px;
    height: 500px;
    border: 6px solid black;
    padding: 1px;
    margin-left: 10px;
    border-radius:5px;
}

.feedbackdiv {
    clear:both;
    width: 420px;
    height: 500px;
    border: 6px solid #8bc34a;
    border-radius:5px;
    padding: 1px;
    position: relative;
   margin-left: 10px;
}
    .legenddiv {
    padding: 1px;
    margin: 10px 0px 10px 10px;
}

