#descriptionEdit{
	min-width: 300px;
	border-radius: 6px; 
	padding: 10px; 
	border: 1px solid #C9C6C5;
	font-size:12px;
}

.classdetails{
	padding: 4px;
}

th {
    cursor: pointer;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
#modelcontainer {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	min-width: 400px;
	padding: 10px;
	min-width: 400px;
	width: 50%;
	height:450px;
	position: relative;
	text-align:center;
}

/* The Close Button */
.close {
	color: #ffffff;
	float: right;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
    background-color: #00738c;
    padding: 0px 20px 4px 20px;
    border: solid 1px;
    border-radius: 6px;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
    background-color: #81b0b2;
     padding: 0px 20px 4px 20px;
    border: solid 1px;
    border-radius: 6px;
}


.textboxcss{
	font: Lato, normal arial;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: left;
	height: 10%;
	width: 95%;
	/* top-margin: 10px; */
	border-radius: 6px;
	border: 1px solid #C9C6C5;
	padding:10px;
	position: relative;
}
.error
{
	font-size: 12px;
    font-weight: normal;
    font-family: Lato, Arial;
    color:#DC143C;
}

#table {
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    /**border-collapse: collapse;**/
    width: 100%;
    top-margin: 100px;
    border: none;
    border-collapse: collapse;
}

th {
    cursor: pointer;
}

#table td, #table th {
    /**border: 1px solid #ddd;**/
   	padding: 15px;
    border: 1px solid #D2DEE3;
}

#classnamecolumn:hover {
	background:#F6F6F6;
}

#studentdetailsrow:hover {
	background:#F7F8F9;
}

/* #table tr:nth-child(even){background-color: #f2f2f2;} */

/* #table tr:hover {background-color: #ddd;} */

#table th {
   /*  padding: 10px; */
    text-align: left;
    border-bottom: 4px solid #81b0b2;
    color: black;
    font-weight:normal;
	margin-left: 25px;
}

.table {
    font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
    /**border-collapse: collapse;**/
    width: 30%;
    top-margin: 100px;
    border: none;
    margin-left: 25px;
    padding: 10px;
}

.table td, .table th {
    /**border: 1px solid #ddd;**/
/*     padding: 10px; */
    border: none;
	padding: 10px;
}

/* .table tr:nth-child(even){background-color: #f2f2f2;} */

/* .table tr:hover {background-color: #ddd;} */

.table th {
/*     padding: 10px; */
    text-align: left;
    background-color: #D5D7D9;
    background-color: #C9C6C5;
    color: black;
    border: none;
    font-weight:normal;
	padding: 10px;
}

.classes
{
	font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.classes dd
{
	display:none;
	background-color: #f2f2f2;
}
.classes dt
{
	cursor: pointer;
}

.classes dt:hover
{
	color:red;
}

.heading1{
	font-size: 25px;
    font-weight: bold;
    font-family: Lato, Arial;
    color:#000000;
    text-align: left;
    margin-top: 75px;
    margin-left: 25px;
}

.normalmargin{
	margin-left: 25px;
	background-color:white;
}

.setheightcss{
	height: 30px;
	letter-spacing: 1px;
}

.labelcss{
	font-size: 15px;
	padding: 10px;
	/* margin-bottom: 20px; */
	font-family: Lato, "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Responsive Design */
@media screen and (max-width:800px) {
#modelcontainer {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #888;
	padding: 10px;
	min-width: 250px;
	width: 50%;
	height:400px;
	position: relative;
	}

#descriptionEdit{
	clear: both;
	min-width: 50px;
	border-radius: 6px; 
	padding: 10px; 
	border: 1px solid #C9C6C5;
	font-size:12px;
}
	.textboxcss{
	font: Lato, normal arial;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: left;
	height: 10%;
	width: 100px;
	/* top-margin: 10px; */
	border-radius: 6px;
	border: 1px solid #C9C6C5;
	padding:10px;
}
}

